.structure {
    display: grid;
    grid-template-areas: 
      "header"
      "container"
      "footer"
    
    ;
  }
  
  .container {
    grid-area: container;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 5%;
  }
  
  .header {
    display: flex;
    padding: 40px 10%;
    align-items: center;
    justify-content: space-between;
    width: 70%;
  }

  .container h1 {
    color: var(--color-secondary);
    
    font-size: 56px;
  }
  
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 800px;
    grid-row-gap: 20%;
    grid-column-gap: 5%;
  }
  
  .card {
    border: 2px solid var(--color-secondary);
    padding: 30px 10%;
    border-radius: var(--border-radius);
    cursor: pointer;
  }
  
  .card:hover {
    border: 2px solid var(--color-primary);
  }
  
  .card h2 {
    color: var(--color-secondary);
    margin-bottom: 20px;
  }
  
  .card p {
    color: var(--color-shape);
    line-height: 30px;
  }
  
  @media (max-width: 1000px) {
    .header{
      flex-direction: column;
    }

    .header h1 {
      font-size: 36px;
    }
  }

  @media (max-width: 800px) {
    .cardContainer {
      grid-template-columns: auto;
    }

    .container h1 {
      padding: 40px 10%;
      font-size: 38px;
    }
  }

  @media (max-width: 600px) {
    .header {
      width: 90%;
    }

    .container {
      padding:2rem 1% 4rem;
    }

    .container h1 {
      padding: 40px 1%;
      font-size: 38px;
    }
  }