.structure {
    display: grid;
    grid-template-areas: 
      "header"
      "container"
      "footer"
    
    ;
  }
  
  .container {
    grid-area: container;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 5%;
  }
  
  .container h1 {
    color: var(--color-secondary);
    padding: 40px 10%;
    font-size: 56px;
  }
  
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 800px;
    grid-row-gap: 20%;
    grid-column-gap: 5%;
  }
  
  .card {
    border: 2px solid var(--color-secondary);
    padding: 30px 10%;
    border-radius: var(--border-radius);
    cursor: pointer;
  }
  
  .card:hover {
    border: 2px solid var(--color-primary);
  }
  
  .card h2 {
    color: var(--color-secondary);
    margin-bottom: 20px;
  }
  
  .card p {
    color: var(--color-shape);
    line-height: 30px;
  }

  .input {
    padding: 10px 15px;
    border-radius: var(--border-radius);
    font-family: 'inter', sans-serif;
    font-size: 18px;
    outline: none;
    border: 2px solid var(--color-secondary);
    margin-bottom: 20px;
    color: var(--color-white);
    background-color: transparent; 
  }
  
  .select {
    padding: 10px 15px;
    border-radius: var(--border-radius);
    font-family: 'inter', sans-serif;
    font-size: 18px;
    outline: none;
    border: 2px solid var(--color-secondary);
    margin-bottom: 20px;
    color: var(--color-shape);
    background-color: transparent;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  @media (max-width: 800px) {
    .formContainer {
      width: 90%;
    }
  }


  @media (max-width: 800px) {
    .cardContainer {
      grid-template-columns: auto;
    }

    .container h1 {
      padding: 40px 10%;
      font-size: 38px;
    }
  }

  @media (max-width: 600px) {
    .formContainer {
      width: 95%;
    }

   
  }